main {

    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.cont {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left, #330a61e7, #7f40c7bb, #7416e079);
    width: 400px;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.671);

}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font: bold 2.5rem serif;
    border-bottom: solid 5px black;
    margin-bottom: 20px;

}

.input {
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}



.input input {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: 0;
    font: bold 1rem serif;
    text-align: center;
}

.input label {
    font: bold 1.5rem serif;
}

.buttom {
    width: 300px;
    height: 40px;
    font: bold 1.2rem serif;
    background: black;
    color: brown;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.result {
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    font: italic 1.5rem serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.829);
    background: #2f0c619d;
    color: rgb(0, 0, 0);
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
}

#calcular {
    width: 200px;
    height: 30px;
    
}